# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hseyi\Desktop\Calismalarim\spring-boot-microservices-with-spring-guru\mssc-brewery-config-repo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
